@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@layer base {
  html {
    font-family: 'Noto Sans KR';
    font-size: medium;
    font-weight: normal;
  }
}